.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 15%;
  right: 15%;
  height: 3%;
  background-color: #3c4146;
  background: linear-gradient(to right, rgba(255,255,255,0.1), #3c4146, rgba(255,255,255,0.1));
}

/* tohle mi nefacha. Jak upravit delku footeru pri pohzblivem sidebaru<
.sidebar:active footer {
  left: 175px;
}
*/

.social-media-icon {
  display: flex;
  gap: 10%;
}

.social-media-icon img {
  display: flex;
  width: 20px;
  border-radius: 20%;
}
