.form {
  position: absolute;
  background-color: #d7dcdf;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  height: 100%;
}

.item-select-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.item-select-container {
  position: relative;
  display: flex;
  gap: 5px;
  overflow: hidden;
}

.item-selection {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
  background-color: #616364;
  color: white;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 2px;
}

.item-select-container::after {
  content: '\25BC';
  color: #3e84c1;
  position: absolute;
  right: 5px;
  top: 29px;
  cursor: pointer;
  pointer-events: none;
  border-radius: 2px;
}

.description-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  border-radius: 3px;
}

.description-input {
  background-color: #616364;
  color: white;
  width: 300px;
  padding: 5px 8px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
}

.description-input-big {
  background-color: #616364;
  color: white;
  width: 700px;
  padding: 5px 8px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
}

.image-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  border-radius: 3px;
}

#results {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

.submit-button {
  position: relative;
  left: 47%;
  margin-top: 30px;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: bold;
  background-color: #3e84c1;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

