.adder-body {
  background-color: #d7dcdf;
}

.form {
  
  padding-top: 5%;
  padding-left: 1%;
  height: 100%;
}

.item-select-container {
  display: flex;
  flex-direction: column;
  width: 10%;
  position: relative;
  overflow: hidden;
}

.item-select-label {
  padding-left: 5%;
  padding-bottom: 2%;
}

.item-selection {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
  background-color: #616364;
  color: white;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

.item-select-container::after {
  content: '\25BC';
  color: #3e84c1;
  position: absolute;
  right: 3px;
  top: 1.7em;
  cursor: pointer;
  pointer-events: none;
}

.description-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  border-radius: 3px;
}

.description-input,
.description-input-big {
  background-color: #616364;
  color: white;
  width: 25%;
  padding: 0.5% 0.55%;
  font-size: 1em;
  border: none;
  border-radius: 5px;
}

.description-input-big {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  font-size: 1em;
}

@media (max-width: 880px) {
  .form {
    padding-top: 10%;
  }
  .item-select-container {
    width: 20%;
  }
  .description-input,
  .description-input-big {
    width: 60%;
  }
  .description-input-big {
    width: 90%;
  }
  
}

/* remove auto browser outer border */
textarea:focus, input:focus{
  outline: none;
}

.image-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  border-radius: 3px;
}

#results {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  }

.thumbnail {
  width: 100px;
  height: 100px;
}

.submit-button {
  position: relative;
  left: 47%;
  margin-top: 30px;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: bold;
  background-color: #3e84c1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

