#contact-section {
  background-color: black;
  color: white;
}

.contact-container {
  display:flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 40px;
}

.internet-contact,
.address,
.friends {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contact-container h3 {
  padding-bottom: 20px;
}

.contact-container div a {
  text-decoration: none;
  color: rgb(205, 70, 70);
  letter-spacing: 1px;
  line-height: 1.5em;
}

.contact-container div p {
  letter-spacing: 1px;
  line-height: 1.5em;
}

.social-media-icons-contact-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1.2em;
  height: 50px;
}

.contact-social-icon-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 25px;
}

.social-media-icons-contact-section img {
  width: 20px;
  border-radius: 20%;
  transition: all 0.2s ease;
}

.social-media-icons-contact-section img:hover {
  width: 25px;
  opacity: 0.5;
}



/* @media (min-width: 880px) {
  .contact-container {
    padding-top: 40px;
  }
} */

@media (max-width: 880px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    /* padding-top: 40px; */
  }
  .contact-container h3,
  .contact-container div p {
    text-align: center;
  }

}