#contact-section {
  background-color: black;
  color: white;
}

.first-paragraph {
  text-align: justify;
}

.contact-container {
  display:flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 40px;
}

.internet-contact,
.address,
.friends {
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
}

.contact-container h3 {
  padding-bottom: 10px;
}

.contact-container div a {
  text-decoration: none;
  color: white;
}

/* @media (min-width: 880px) {
  .contact-container {
    padding-top: 40px;
  }
} */

@media (max-width: 880px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    /* padding-top: 40px; */
  }
  .contact-container h3,
  .contact-container div p {
    text-align: center;
  }

}