p {
  margin: 0;
  padding: 0;
}

.rings-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0;
  row-gap: 80px;
  padding: 20px;
}


.galery-picture-container img {
  height: 300px;
  width: 350px;
}

