* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

#galery-select-section {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('Images_product/product_table.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.galery-select-section-title {
  display: flex;
  justify-content: center;
}

.galery-select-section-title span {
  font-size: 30px;
  color: white;
  padding-top: 45px;
  padding-bottom: 5%;
}

.thumbnails-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15%;
  position: relative;
  width: 75%;
  padding-bottom: 5%;
}

.thumbnail-photo-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.thumbnail-photos {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
}

.thumbnails-container div img {
  transition: 0.4s all ease;
}

.galery-selector-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.galery-selector-description p {
  font-size: 17px;
  color: white;
  padding: 3% 0;
  text-align: center;
}

.galery-selector-description p strong {
  font-size: 20px;
}

.thumbnails-container div img:hover {
  transform: scale(1.25);
}
