.main-galery-picture-container {
  position: fixed;
  background-size: contain;
  background-color: black;
}

.main-galery-picture {
  opacity: 0.2;
}

.rings-grid {
  position: absolute;
  top: 12%;
  left: 10%;
  right: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7%;
  row-gap: 7%;
  background-color: transparent;
}

@media (max-width: 880px) {
  .rings-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item-preview {
  border-radius: 3%;
  box-shadow: 0.3em 0.3em 0.8em rgba(255, 255, 255, 0.5);
  overflow: hidden;
  background-color: white;
  
}

.galery-picture-container {
  background-color: black;
  height: 85%;
  width: 100%;
  overflow: hidden;
}

.galery-picture-container img {
  opacity: 0.8;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
}

.galery-picture-container img:hover {
  transform: scale(1.25);
  opacity: 1;
}

.ring-title {
  background-color: white;
  margin: 0;
  padding: 4%;
}