* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.table-photo-container {
 position: fixed;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%)

}

.table-photo {
  width: 350px;
  height: 350px;
  border-radius: 200px;
}

.thumbnails-container div {
  position: fixed;
  transition: 0.2s all ease;
  transform: translate(-50%, -50%)
  
}

.jewel-thumbnail-container {
  left: 50%;
  top: 20%;
}

.knive-thumbnail-container{
  left: 35%;
  top: 40%;
}

.razer-thumbnail-container {
  left: 65%;
  top: 40%;
}

.restaur-thumbnail-container {
  left: 37%;
  top: 70%;
}

.other-thumbnail-container {
  left: 63%;
  top: 70%;
}

.thumbnail-photos {
  width: 150px;
  height: 150px;
  border-radius: 200px;
}

.thumnail-info {
  text-align: center;
}

.thumbnails-container div img {
  transition: 0.2s all ease;
}

.thumbnails-container div img:hover {
  width: 270px;
  height: 270px;
}

