* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

html {
  scroll-behavior: smooth;
}

body {
  font-family: Sarpanch, Teko, Roboto, Arial;
  min-height: 100vh;
}

.row {
  max-width: 75%;
  margin: 0 auto;
}

/* header mvoe to this empty space instead of to title of the section (after navigation link click) */
#empty-space-production,
#empty-space-galery {
  position: relative;
  top: -100px;
}

@media (max-width: 1000px) {
  #empty-space-production,
  #empty-space-galery {
    position: relative;
    top: -45px;
}
}


/*
  background-image: url('Images_product/Sperky/uvodni_obr.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
*/