.hamburger-menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 4%;
  left: 0;
  background-color: #3c4146;
  border-radius: 1px;
  z-index: 100;
  transition: all 0.7s ease;
}

.hamburger-menu.active {
  width: 25%;
}

.hamburger-menu ul {
  padding: 0;
  
}

.hamburger-menu ul li {
  margin-left: -15px;
  list-style-type: none;
  cursor: pointer;
  padding: 25px 10px;
  transition: all 0.7s ease;
}

.hamburger-menu.active ul li {
  margin-left: 0;
}

.hamburger-menu ul li a {
  position: relative;
  left: -90px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(173, 173, 173);
  padding: 25px 10px;
  transition: all 0.7s ease;
}

.hamburger-menu.active ul li a {
  left: 0;
}


.hamburger-menu ul li:hover {
  border-left: 5px solid #3e84c1;
  background-color: #2d3135;
  transition: all 0.2s ease;
}

.sidehamburger-menubar ul li a:active {
 color: white;
}
