.header-mobile {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: #3c4146;
  opacity: 0.85;
  width: 100%;
  z-index: 100;
}

.mobile-header-logo-container {
  position: absolute;
  right: 3%;
  top: 3%;
}

.main-logo-mobile {
  width: 90px;
  margin-top: 0;
  border: 1px solid black;
  border-radius: 50%;
}

.hamburger-icon-container {
  margin-left: 2%;
  transition: all 0.7s ease;
}

.hamburger-img {
  width: 35%;
}

.social-media-icon-mobile {
  display: flex;
  gap: 10%;
  position: absolute;
  top: 55%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.social-media-icon-mobile img {
  width: 20px;
  border-radius: 20%;
}