* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-wide {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: #2f3235;
  opacity: 0.95;
  z-index: 100;
}

.logo-container {
  position: relative;
  left: -40%;
  top: 29%;
}

.main-logo {
  width: 150px;
  margin-top: 0;
  border: 1px solid black;
  border-radius: 50%;
}

.main-logo:hover {
  border-color: #3e84c1;
}

.main-logo:active {
  width: 148px;
  border: 2px solid #3e84c1;
}

.nav-list {
  display: flex;
  position: absolute;
  right: 30%;
  top: 38%;
  gap: 15%;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: rgb(173, 173, 173);
  margin: 0;
}

.list-item a:hover {
  color: #3e84c1;
  transition: all 0.2s ease;
}

.adder-button-container {
  position: fixed;
  left: 1%;
}

.adder-button-container a {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.social-media-icon {
  display: flex;
  gap: 10%;
  position: absolute;
  right: 2%;
}

.social-media-icon img {
  width: 20px;
  border-radius: 20%;
}

.langauge-icons {
  display: flex;
  gap: 15%;
  position: absolute;
  right: 8%;
}

.langauge-icons img {
  width: 85%;
}