header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: #2d3135;
  height: 100px;
  opacity: 0.95;
  z-index: 100;
}

.header ul {
  display: flex;
  gap: 90px;
  flex-direction: row;
  justify-content: space-between;
  height: 155px;
  padding: 0;
  margin: 0;
}

.header ul li{
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100px;
  width: 100%;
}

.header li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: rgb(173, 173, 173);
  margin: 0;
  padding: 10px;
}

.header li a:hover {
  border-bottom: 2px solid #3e84c1;
  padding-bottom: 2px;
  transition: all 0.2s ease;
}
/*
.header li a:active {
  font-size: 24px;
  padding: 11px;
}
*/
.main-logo {
  width: 150px;
  margin-top: 0;
  border: 1px solid black;
  border-radius: 100px;
}

.main-logo:hover {
  border-color: grey;
}

.main-logo:active {
  width: 148px;
  border: 2px solid grey;
}
