.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
}

.main-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100vh;
  background-color: white;
  padding: 2%;
}

.img-product {
  width: 100%;
}

.product-info {
  padding: 5%;
  text-align: center;
}

.close-button {
  position: absolute;
  top: -0.5%;
  right: 0.5%;
  cursor: pointer;
  font-size: 35px;
  font-weight: bold;
  opacity: 0.5;
  transition: all 0.2s ease;
}

.close-button:hover {
  opacity: 1;
}

.back-button,
.forward-button {
  position: absolute;
  cursor: pointer;
  font-size: 35px;
  color: white;
  opacity: 0.5;
  padding: 10px 10px;
  transition: all 0.5s ease;
}

.forward-button {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.back-button {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.back-button:hover,
.forward-button:hover {
  background-color: black;
}