.production-section {
  background-color: black;
}

.production-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.production-header-container span {
  color: rgb(205, 70, 70);
  font-size: 50px;
  font-weight: solid;
  padding: 20px 0;
}

#production-section {
  transition: all 0.5s ease;
}

@media (max-width: 880px) {
  .empty-container p {
    font-size: 25px;
  }
}

.tool-info-container {
  display: flex;
  gap: 5%;
  align-items: center;
  padding-bottom: 50px;
}

.tool-info-container p {
  color: white;
}

.tool-info-container img {
  width: 330px;
  height: 330px;
}
