

.nav-list {
  display: flex;
}

.left-section,
.right-section {
  position: relative;
  display: flex;
  gap: 50px;
  width: 50%;
}

.left-section {
  left: -20%;
}

.right-section {
  right: -20%;
}

.left-section-list-item,
.right-section-list-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.nav-list a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: rgb(173, 173, 173);
  margin: 0;
}

.left-section-list-item a:hover,
.right-section-list-item a:hover {
  color: #3e84c1;
  transition: all 0.2s ease;
}